@font-face {
  font-family: "MyWebFont";
  src:url(../fonts/carolingia.ttf);
}
header h1 {
  font-family: "MyWebFont",sans-serif;
  color: #FFA500;
  font-size: 80px;
}

body {
  margin: 5px;
}

.header {
  width: 100%;
  height: 30%;
  background: url("../img/Roasted Coffee Beans wallpaper.jpg") #A91A14;
  z-index: 0;
  background-size: cover;
}

.header img {
  opacity: 0.8;
  filter: alpha(opacity=40);
}

.logo {
  background: url("..img/logo.jpg");
  z-index: 1;
  font-size: 40px;
  display: block;

}
.menu-wrap {
  display: inline-block;
  float: left;
  width: 10%;
  height: 100vh;
  background-image: linear-gradient(black, orange);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}

nav li a {
  display: inline-block;
  width: 80%;
  color: #FFF;
  padding: 20px 0 20px 15px;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
}

nav li a:hover {
  color:#FFA500;
}
nav li a:focus{
  color:#FFA500;
}

.center {
display: inline-block;
width: 65%;
float: left;
}

.art {
  border: 2px solid orange;
  margin-left: 20px;
  margin-top: 20px;
  padding: 1%;
}

.left {
  display: inline-block;
  float: right;
}

.left img {
  width: 350px;
  height: 200px;
}

.books {
  margin: 2%;
  width: 100%;
  }
.books td {
  text-align: justify;
  background-color: #E2FA5C;
}

}
table {

  border: 1px solid black;
  background-color: #CBD490;
  margin: auto;
  position: relative;
  top: 100px;
}

td {
  background-color: #BEE874;
  border: 1px solid darkgreen;
  padding: 2px;
  text-align: center;
}

th {
  text-align: left;
}
